 body {
     background-image: url(./imgAssets/bellpep.jpg);
     background-repeat: no-repeat;
     background-position: inherit;
     background-size: cover;
     font-family: 'Abril Fatface',cursive;
     font-size: 30pt;
     width: 100%;
     height: 100vh;
     margin: 50px;
     padding: 50px;
 }

 header {

     
     font-family: 'Josefin Slab', serif;
     text-align: right;
     width: 100%;
     float: right;
     padding: 2rem 0;
     margin: 50px;

 }

 h1 {
     text-align:left;
     padding: 0px;
 }


 h3 {
     font-family: 'Josefin Slab', serif;
     font-weight: bold;
     font-size: 20pt;
     margin: 50px;
 }

form {
    background-color: tomato;
    border: 10px double black;
    opacity: 70%;
    width: 65%;
    height: 70vh;
    font-family:'Josefin Slab', serif;
    font-size: 20pt;
    text-align: center;
    position: inherit;
    padding: 50px;
   
   
    

  

 } 

 .div-zero {
    position: inherit;
    width: 60%;
    align-self: auto;

    
 }


 footer {
     float: left;
     position: inherit;
     margin: 15px;
     width: inherit;
  
 }
 
 .div-one {
     margin: 20px;
     float: left;
     font-family: 'Abril Fatface',cursive;
     position: inherit;
     padding: 40px;
 }

 .div-two {
     margin: 20px;
     float: left;
     font-family: 'Abril Fatface',cursive;
     position: inherit;
     padding: 40px;
 }

 .div-three {
     margin: 20px;
     float: left;
     font-family:'Abril Fatface',cursive; 
     position: inherit;
     padding: 40px;
 }

 .div-four {
     margin: 20px;
     float: left;
     font-family: 'Abril Fatface',cursive;
     position: inherit;
     padding: 40px;
 }

 .div-five {
     position: inherit;
     top: 500px;
     left: -300px;
}

.div-six {
 
    width: 95%;
    height: 25vh;
    position: inherit;
}

.div-seven {
    
    width: 95%;
    height: 25vh;
    position: inherit;
    
}

.div-eight{
    float: right;
    background-color: tomato;
    opacity: 70%;
    position: inherit;
    width: 350px;
    height:500px;
    align-self: center;
    border: 10px double black;
    margin: 50px;
    padding: 70px;
}

.imgDiv {
    width: 332px;
    height: 25vh;
    position: inherit;
    border: 10px double black;
}

.imgapple {
    width: 332px;
    height: 25vh;
    position: inherit;
    border: 10px double black;
    
}

#sub {
    text-decoration-style: wavy;
    text-size-adjust: 50% ;
}