 body {
     background-image: url(./imgAssets/bellpep.jpg);
     background-repeat: no-repeat;
     background-position: inherit;
     background-size: cover;
     font-family: 'Abril Fatface',cursive;
     font-size: 30pt;
     padding-inline-start: inherit;
 }

 header {

     
     font-family: 'Josefin Slab', serif;
     text-align: right;
     width: 100%;
     float: right;
     padding: 2rem 0;

 }

 h3 {
     font-family: 'Josefin Slab', serif;
     font-size: 20pt;
 }

form {
    background-color: tomato;
    box-shadow: 5px, midnightblue;
    border: 10px double black;
    opacity: 70%;
    width: 100%;
    height: 50vh;
    font-family:'Josefin Slab', serif;
    font-size: 20pt;
    text-align: left;
    margin: 80;
    padding: 80;
   
    

  

 } 

 .div-zero {
    position: relative;
    width: 60%;
    align-self: auto;
    
 }


 footer {
     float: inherit;
     box-sizing: border-box;
 }
 
 .div-one {
     margin: 40px;
     float: left;
     font-family: 'Abril Fatface',cursive;
 }

 .div-two {
     margin: 40px;
     float: right;
     font-family: 'Abril Fatface',cursive;
 }

 .div-three {
     margin: 40px;
     float: left;
     font-family:'Abril Fatface',cursive; 
 }

 .div-four {
     margin: 40px;
     float: left;
     font-family: 'Abril Fatface',cursive;
 }
